config/genesis.json
config/config.toml
config/permissions_config.toml
config/qbftConfigFile.json
config/static-nodes.json
keys/bootnode/key.pub
keys/bootnode/nodeid
keys/if1/key
keys/if1/key.pub
keys/if1/nodeid
keys/if2/key
keys/if2/key.pub
keys/if2/nodeid
keys/validator1/key
keys/validator1/key.pub
keys/validator1/nodeid
keys/validator2/key
keys/validator2/key.pub
keys/validator2/nodeid
keys/bootnode/key
